= form_for (@location, :remote => true) do |f|
  = f.error_messages
  %p
    = f.label :address
    %br
    = f.text_field :address
  %p
    = f.hidden_field :latitude
  %p
    = f.hidden_field :longitude
  %p= f.submit