- title "Locations"
= form_tag locations_path, :method => :get do
  %p
    = text_field_tag :search, params[:search]
    = submit_tag "Search Near", :name => nil

%table{:class => "location_family"}
  %tr
    %th Address
    /%th Latitude
    /%th Longitude
  - for location in @locations
    = render :partial => 'location_table', :locals => {:location => location}


%p= link_to "New Location", '#', :onclick => '$("#new_form").slideDown(50)'


#new_form{:style => 'display:none'}
  = render 'form'
  